html {
    background-color: rgb(37, 37, 37);
}

/*nav bar*/
ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style-type: none;
    padding: 16px;
    margin: 0;
}
/*nav bar cor e estilo*/
nav {
    background-color: rgb(37, 37, 37);
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: white;
}

/*ajeitar banner*/ 
img {
    width: 100%;
    height: 30%;
    object-fit: contain;
    display: block;
}

/*premiacoes*/

div {
    display: flex;
    justify-content: center;
  }
  
  .galeria-de-fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 15px; 
    padding: 30px;
    max-width: 2000px;
    justify-items: center; 
  }
  
  .galeria-de-fotos img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 8px; 
  }
  

  @media (max-width: 900px) {
    .galeria-de-fotos {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .galeria-de-fotos {
      grid-template-columns: 1fr;
    }
  }